git push origin main
git pull origin main


https://github.com/hackingthemarkets/fullstack-trading-app

Youtube Playlist:
https://www.youtube.com/watch?v=OFnOEIyqSRg&list=PLvzuUVysUFOuoRna8KhschkVVUo2E2g6G


Sqlite.org




for the database:
pip3 install alpaca-trade-api


#fastAPI
https://fastapi.tiangolo.com/

pip3 install fastapi uvicorn
uvicorn main:app --reload

#to kill the server
sudo lsof -i:8000 # this gives you the PID
kill -9 (processID) # this kills the server

#Install jinja2:
pip install jinja2