git push origin main
git pull origin main


https://github.com/hackingthemarkets/fullstack-trading-app

Youtube Playlist:
https://www.youtube.com/watch?v=OFnOEIyqSRg&list=PLvzuUVysUFOuoRna8KhschkVVUo2E2g6G


Sqlite.org




for the database:
pip3 install alpaca-trade-api
key: PK537T0L5FL5U9H00MBA
secret: jX4zJToAzh4mUkViPPfNklCO8gpiBNVdvJ1sgXvh